# Environment
.env
.env.local

# Web
node_modules/
web/dist/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk
*.aab

# IDE
.idea/
.vscode/
*.iml
web/coverage/
